[submodule "Discord.Net"]
	path = Discord.Net
	url = https://github.com/RogueException/Discord.Net.git
[submodule "chatter-bot-api"]
	path = chatter-bot-api
	url = https://github.com/pierredavidbelanger/chatter-bot-api.git
