<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Inflatable.Lastfm" version="0.2.999-prerelease" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.1-beta3" targetFramework="net452" />
  <package id="NVorbis" version="0.8.4.0" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SoundCloud.NET" version="1.0.5717.37484" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.99.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.99.0" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
  <package id="VideoLibrary" version="1.3.3" targetFramework="net452" />
</packages>